/* ----------------------------------------------*/
/* BASIC SETUP*/
/*-----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url(img/final1.jpg);
  background-size: cover;
}
.wrapper {
  width: 400px;
  height: 450px;
  color: rgba(0, 0, 0, 0.88);
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.56);
  background-color: rgba(255, 255, 255, 0.24);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #070707;
}
h1:after {
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper input[type="text"],
.wrapper input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  border-radius: 3px;
  margin: 10px 0;
  opacity: 1;
  color: #000000;
}
input[type="submit"] {
  border-radius: 10px;
  margin-left: 25%;
  width: 50%;
  color: #fff;
  background-color: #342e2e;
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.bottom-text:after {
  display: block;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.64);
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

frame {
  background-color: #ded7d7;
}
